body {
  margin: 0;
  font-family: "Century Gothic", Courier, monospace;
    background: rgb(238,174,202);
    background: linear-gradient(140deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
